[submodule "Quanta/External/glfw"]
	path = Quanta/External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Quanta/External/glm"]
	path = Quanta/External/glm
	url = https://github.com/g-truc/glm.git
[submodule "Quanta/External/imgui"]
	path = Quanta/External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Quanta/External/openal-soft"]
	path = Quanta/External/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "Quanta/External/libsndfile"]
	path = Quanta/External/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
